{{- define "main" -}}

<!-- Tag Title -->
{{- if and .Title (eq .Type "tags") -}}
<h1 class="mb-14">#{{- .Title -}}</h1>
{{- end -}}

<!-- Series Title -->
{{- if and .Title (eq .Type "series") -}}
<h1 class="mb-14">{{- .Title -}}</h1>
{{- end -}}

<!-- Categories Title -->
{{- if and .Title (eq .Type "categories") -}}
<h1 class="mb-14">{{- .Title -}}</h1>
{{- end -}}

<!-- $pages -->
{{- $pages := union .RegularPages .Sections -}}<!---->
{{- if .IsHome -}}<!---->
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections -}}<!---->
{{- end -}}

<!-- Articles -->
{{- $paginator := .Paginate $pages -}} {{- range $index, $page :=
$paginator.Pages -}}<!---->

{{- if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) -}}<!---->

<div class="mb-12"><b>New here? Try the <a class="link" href="/archive">archives</a> for a structured reading.</b></div>

{{- end -}}

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{- if gt .Weight 0 -}}
  <span class="mb-1 inline-block text-xs tracking-wider text-orange-500"
    >Featured</span
  >
  {{- end -}}

  <!-- Post Categories -->
  {{- if and $.IsHome .Params.categories -}}
  <div class="text-xs antialiased mb-1.5">
    {{- range .Params.categories -}} 
    <span class="ltr:mr-1.5 rtl:ml-1.5 uppercase">{{- . -}}</span>&nbsp;
    {{- end -}}
  </div>
  {{- end -}}

  <h2 class="my-0!">{{- .Title -}}</h2>
  <time class="text-xs antialiased"
    >{{- .Date | time.Format ":date_medium" -}}</time
  >

  {{if $.IsHome}}
    <p>{{ .Summary }}
    {{ if .Truncated }}
    <p>Read more...</p>
    {{ end }}</p>
  {{ end }}
  
  <a class="absolute inset-0 text-[0px]" href="{{- .Permalink -}}"
    >{{- .Title -}}</a
  >
</section>
{{- end -}}

<!-- Main Nav -->
{{- if gt $paginator.TotalPages 1 -}}
<nav class="mt-14 flex">
  {{- if $paginator.HasPrev -}}
  <a class="btn not-prose" href="{{- $paginator.Prev.URL -}}"
    >← {{- i18n "prev_page" -}}</a
  >
  {{- end -}}<!---->
  {{- if $paginator.HasNext -}}
  <a class="btn not-prose ml-auto" href="{{- $paginator.Next.URL -}}"
    >{{- i18n "next_page" -}} →</a
  >
  {{- end -}}
</nav>
{{- end -}}<!---->

{{- end -}}
