<footer
  class="mx-auto flex h-[4.5rem] max-w-(--w) items-center px-8 text-xs tracking-wider"
>
  <div class="mr-auto">
    {{- if site.Copyright -}} {{- site.Copyright }} 
    {{- end -}}
      <br/>
    <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a>
  </div>
  {{- with $.Scratch.Get "social_list" -}}
  <div>
    <nav
      class="mt-12 flex justify-center space-x-10 lg:mt-0 lg:items-center ltr:lg:ml-14 rtl:space-x-reverse rtl:lg:mr-14 dark:invert">
      {{- range . -}}<!---->
      <a class="h-7 w-7 text-[0px] [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
        style="--url: url(./{{- . -}}.svg)"
        href="{{- if eq . `rss` -}}{{- `index.xml` | absURL -}}{{- else if eq . `mastodon` -}}{{- index site.Params . -}}{{- else -}}{{- if eq . `threads` -}}https://threads.net/{{- else if eq . `bluesky` -}}https://bsky.app/profile/{{- else -}}https://{{- . -}}.com/{{- end -}}{{- if eq . `linkedin` -}}in/{{- end -}}{{- index site.Params . -}}{{- end -}}"
        target="_blank" rel="{{- if eq . `rss` -}}alternate{{- else -}}me{{- end -}}">
        {{- . -}}
      </a>
      {{- end -}}<!---->
    </nav>
    {{- end -}}<!---->
  </div>
</footer>
