{{- $.Scratch.Delete "social_list" -}}<!---->

<!-- social_list -->
{{- $social_params := slice "twitter" "github" "instagram" "linkedin" "mastodon"
"threads" "bluesky" -}}<!---->
{{- range $social_params -}}<!---->
{{- if isset site.Params . -}}<!---->
{{- $.Scratch.Add "social_list" (slice .) -}}<!---->
{{- end -}}<!---->
{{- end -}}<!---->

<!-- social list -->
{{- range $.Scratch.Get "social_list" -}}
<link rel="preload" as="image" href="{{- printf `%s.svg` . | absURL -}}" />
{{- end -}}
<!---->

{{- with $.Scratch.Get "social_list" -}}
<nav
    class="mt-12 flex justify-center space-x-10 lg:mt-0 lg:items-center ltr:lg:ml-14 rtl:space-x-reverse rtl:lg:mr-14 dark:invert">
    {{- range . -}}<!---->
    <a class="h-7 w-7 text-[0px] [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
        style="--url: url(./{{- . -}}.svg)"
        href="{{- if eq . `rss` -}}{{- `index.xml` | absURL -}}{{- else if eq . `mastodon` -}}{{- index site.Params . -}}{{- else -}}{{- if eq . `threads` -}}https://threads.net/{{- else if eq . `bluesky` -}}https://bsky.app/profile/{{- else -}}https://{{- . -}}.com/{{- end -}}{{- if eq . `linkedin` -}}in/{{- end -}}{{- index site.Params . -}}{{- end -}}"
        target="_blank" rel="{{- if eq . `rss` -}}alternate{{- else -}}me{{- end -}}">
        {{- . -}}
    </a>
    {{- end -}}<!---->
</nav>
{{- end -}}<!---->